[2013-06-11 15:18] miguelcobain opened #1 "Bidirecional Support"
Great work! Glad to see that someone had a look at what I did.

I like how this project is organized. Much more than my own. Much more "ember".

While I was trying to adapt my [example page](http://miguelcobain.github.io/ember-leaflet/) to this project, I've noticed that it still lacks some features.

For example, do you intend on adding bidirecional support for any features? i.e, changing `zoomLe

[2013-06-12 17:24] miguelcobain opened #3 "Create LatLng implementation"
We probably should wrap Leaflet's LatLng class in our own bindable "ember" LatLng class, especially if we want to follow the two-way binding approach.

This way we could abstract Leaflet LatLng/array version.

We would use it like:

[code]

What do you think?

[2013-06-12 18:46] #3 closed, assigned to nobody

[2013-06-13 01:24] #1 closed, assigned to nobody

[2013-06-13 14:39] miguelcobain opened #4 "Object and layer relationship approaches"
I've noticed that you did things a bit different than me.

For example, consider the case of markers (`MarkerLayer`). It makes sense that a marker represents a certain object from our domain, so they must be related.

In my project, I create a mixin that the user must add to their objects in order to have Marker support, for instance. This mixin adds capabilities such as the Laeflet marker layer c

[2013-06-13 17:45] #4 closed, assigned to nobody

[2013-06-14 08:45] miguelcobain opened #5 "`EmberLeaflet.CollectionLayer` extend `Ember.ArrayProxy`"
Shouldn't `EmberLeaflet.CollectionLayer` extend `Ember.ArrayProxy` ?

This way, the API would become a little bit friendlier.

[code]

[2013-06-21 00:47] gabesmed opened #7 "handle queued zoom animations"
see comment: https://github.com/gabesmed/ember-leaflet/commit/86c13960be839344d636d7b29ea006aaed971dff#commitcomment-3421867

[2013-07-06 19:42] #5 closed, assigned to gabesmed

[2013-07-29 23:26] nickiaconis opened #8 "Should changing a polyline's content in-place update the _layer?"
I'm trying to write some tests for polyline/polygon. Should the `_layer` get updated when the content changes in-place? For instance:

[code]

I can understand if this is the expected behavior, and all modifications should be made using `pushObject` and `popObject`. I simply am not sure if this is intended or not.

[2013-07-31 03:39] #8 closed, assigned to nobody

[2013-08-05 17:04] miguelcobain opened #12 "icon and z-index marker bindings"
I was developing icon and z-index bindings for markers.

Right now Draggability and Popups are implemented as Mixins.
Do we want to follow the same path for icons and z-index support?

[2013-08-05 23:25] gabesmed opened #14 "Rename EmberLeaflet.Rectangle to BoundingRectangle or BoundingBox"
Hey @codefox421 -- just wondering what you thought about this. Seems like it more accurately sums up the functionality Rectangle currently offers. Have any preference as to which? I kinda think BoundingBox sums it up, but would be open to BoundingRectangle as well.

[2013-08-07 16:34] miguelcobain opened #18 "General options binding - how?"
Well, the question about icon and z-index in issue #12 is just a particular case of this one.

For example, I will need to bind the colors of polylines and circles. These are just options, just like the icon, z-index, opacity, etc.

Currently, we are not providing any bindings for this kind of properties. Not even with `popupContent` in the `PopupMixin`. Right now, how can I bind the popup content

[2013-08-09 14:14] miguelcobain opened #22 "Add layerGroup to ContainerLayerMixin?"
I think it would be great if we could make `ContainerLayerMixin` to continously "manage" a [Leaflet LayerGroup](http://leafletjs.com/reference.html#layergroup).

This way we could just iterate through the `_childLayer` instances and fetch all the layer groups to add to a [Layers Control](http://leafletjs.com/reference.html#control-layers), for example.

Leaflet has the notion of a "collection" ([L

[2013-08-21 02:14] #14 closed, assigned to nobody

[2013-08-21 16:31] #12 closed, assigned to nobody

[2013-08-21 16:34] #18 closed, assigned to nobody

[2013-08-21 21:08] #7 closed, assigned to gabesmed

[2013-08-22 20:09] flecno opened #23 "Marker performance"
I would use ember-leaflet with many markers, but I think there are performance issues. Rendering a map with 1000, 5000 or 10000 markers takes very long time.
Especially the clustered markers should be faster (see [10000 realworld demo](http://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.10000.html) from the authors).

For my tests I extend the https://github.com/evil

[2013-08-23 00:51] #23 closed, assigned to nobody

[2013-09-04 15:46] nickiaconis opened #24 "Fallback on layer properties for Leaflet setters"
I've been toying around with `EmberLeaflet.computed.optionProperty` a bit. Of course, my first choice of option to test was `color`, which turned out to be a tricky one since Leaflet doesn't provide a setter method (it provides `setStyle` instead).

It got me thinking: when `EmberLeaflet.computed.optionProperty` can't find a setter, what if it tried to call a function by the same name on the layer

[2013-09-12 15:04] nickiaconis opened #26 "Run tests against Ember 1.0"
It looks like the tests are running against Ember 1.0-rc1. How can we get them running against Ember 1.0? I think some parts of EmberLeaflet may now be broken, but I don't know for sure because they aren't testing against the latest Ember.

[2013-09-13 16:56] #26 closed, assigned to nobody

[2013-09-15 18:36] aboutaaron opened #28 "Accessing coordinates/geojson from ember models"
Hey guys! Great work on this project. I'm newish to Ember but familiar with leaflet. I was looking at @miguelcobain's ember-leaflet repo but he suggested I bring my question here.

I have a model that basic info (name, description, etc) and then a nested geometry attribute with the coordinates of the point and the shape of the model itself.

What's the best way to send the data to a template (like

[2013-09-20 21:08] patte opened #29 "building fails with "cannot load such file -- handlebars/source""
I tried:

[code]

and I got:

[code]

[2013-10-02 11:54] lennerd opened #30 "Best practice: Popup view or template"
Hello everyone,

first thank you for this great implementation of leaflet into ember. I'm impressed and learned alot from the plugin.

But now I have come to an issue, I don't know how to fix. I also posted the question on stackoverflow, so please have a look here:

http://stackoverflow.com/questions/19119021/rendering-view-or-handlebars-template-in-leaflet-popup

Its about the use of a template f

[2013-10-02 18:58] #28 closed, assigned to nobody

[2013-10-02 19:00] #24 closed, assigned to nobody

[2013-10-14 13:32] avitalbn opened #31 "How can a control be added to the map?"
How can a control be added to the map such as in this example http://domoritz.de/leaflet-locatecontrol/demo/.

L.control.locate().addTo(map);

[2013-10-14 18:11] #31 closed, assigned to nobody

[2013-10-15 14:33] avitalbn opened #32 "Adding an example or 2 of utilizing leaflet plugins in the docs"
Would it be possible to provide a few examples in the docs of using some of the popular leaflet plugins.

I would do it myself, except then I would need to read them first ;)

[2013-10-23 18:43] #32 closed, assigned to nobody

[2013-10-29 18:10] michaelguild13 opened #35 "Use case question, I am new to ember and there isn't much doc. on this."
1. How do I update the view's base map url on route?
2. How would I added another layer from an action on the application controller?

Thank you.

[2013-10-29 19:31] #35 closed, assigned to nobody

[2013-10-30 16:21] aurelian opened #36 "Cannot set center after map was moved"
I've have hit a strange problem while trying to set the center of a map. Extracted the code to a [jsbin](http://jsbin.com/uyAsODe/7/edit).

To [reproduce](http://jsbin.com/uyAsODe/7#/places)
- click "Route 1", click "Route 2". you can see the center of the map moves as expected.
- now move the map (or drag wtv the movement is called) and switch again between routes. this time the center remains th

[2013-10-30 16:46] #36 closed, assigned to nobody

[2013-10-30 21:37] michaelguild13 opened #37 "Add to bower's registry"
http://bower.io/

[2013-11-19 19:27] nickiaconis opened #39 "Thoughts about layers beginning life as mixins?"
It could be useful to define all layer types as mixins as well as full layer objects, the same way as the base `Layer` class does it. Here's an example of my thinking:

An interface displays a list of locations (let's call them destinations) adjacent to a map. Users perform a search to populate the list, and have various options to filter, sort, etc those destinations. When users do this, the unde

[2013-12-04 13:09] michaelguild13 opened #40 "Update/change already created tilelayer's opacity and z-index?"
Is there a way to change an already created tilelayer's opacity and z-index?

[2013-12-04 16:27] #40 closed, assigned to nobody

[2013-12-12 11:43] kunerd opened #41 "problem with zoom level binding"
Hi,

I'm working on an EmberJS map app with a MapView and a sidebar, where different views are added during working with the app. The views in the sidebar need some information from the map, like zoom level. So with embers needs controller injection I could get value from MapViews controller, but the zoom level of the map is stored in MapView directly. So how could I observe zoom level from anothe

[2013-12-12 18:34] #41 closed, assigned to nobody

[2013-12-13 14:59] kunerd opened #42 "maps click event fired two times"
Maps click event fires two times, first time with EmberLeaflet event object, the second time with a default jQuery event object. The dblclick event only fires one time with the EmberLeaflet event object. So I thought that might be a bug.

See this jsFiddle:
http://jsfiddle.net/9mr5N/5/

[2013-12-16 13:08] #42 closed, assigned to nobody

[2014-01-10 01:19] #37 closed, assigned to nobody

[2014-02-03 12:52] elsurudo opened #44 "Icon images not found in production"
This may be a daft question, but I haven't been able to get anywhere so I will ask...

Basically, everything is working fine in development, but in production, my app isn't able to locate "marker-icon.png" and "marker-shadow.png" images.

I've added the following to production.rb:

[code]

But to no avail. Leaflet is trying to access the images are the usual "/assets/marker-icon.png" paths, instea

[2014-02-03 21:23] #44 closed, assigned to nobody

[2014-02-26 23:07] wuher opened #45 "Documentation on the events-property"
When using leaflet components such as the [Leaflet.Draw](https://github.com/Leaflet/Leaflet.draw), it would be useful to have better documentation about things like the `events` property and `didCreateLayer`. This would help hooking up to the events of these plugins.

I explained this in a [blog post](http://wuher-random.blogspot.fi/2014/02/ember-leaflet-and-leafletdraw.html).

I could contribute

[2014-03-09 06:44] #45 closed, assigned to nobody

[2014-03-10 11:50] miguelcobain opened #47 "Layers control and CollectionLayer"
Leaflet has an unexpected (maybe not) way of hiding and showing layers on a map: it _removes_ them to hide and _adds_ them to show.
This is exactly what a [Control.Layers](http://leafletjs.com/reference.html#control-layers) does. When you activate a layer in the control, you add it to the map. When you deactivate a layer, you remove it from the map. If you want to show it again, you need to keep t

[2014-03-13 16:57] miguelcobain opened #49 "Support for controls"
This is somewhat related with #47.

What do you guys think about adding support for controls just like we do with childLayers?

The idea is to have a controls array in `MapView`. Adding an instance of `EmberLeaflet.Control` to this array should add the control to the map.

Would it be worth it? Not quite sure about the benefits of this, but I think it would make easier to integrate some controls l

[2014-04-21 19:10] gabesmed opened #50 "popupContent should update when popupContent changes while popup is open"

[2014-04-21 19:10] gabesmed opened #51 "marker and polygon objects should handle arrays correctly"
when they are passed in without a correct EmberLeaflet.computed.latLngFromLngLatArray conversion.

[2014-04-23 23:07] #29 closed, assigned to nobody

[2014-04-24 01:08] #50 closed, assigned to nobody

[2014-04-24 01:30] #51 closed, assigned to nobody

[2014-04-24 01:43] #22 closed, assigned to nobody

[2014-04-24 01:48] #39 closed, assigned to nobody

[2014-04-24 01:58] #47 closed, assigned to nobody

[2014-04-24 01:59] #49 closed, assigned to nobody

[2014-04-24 21:47] sbsurf opened #53 "No version/release tags"
I'm trying to add this component to rails-assets:  https://rails-assets.org/components/new

But for that to happen, Bower needs to be able to find at least one version tag. However, your app doesn't seem to have any:

https://github.com/gabesmed/ember-leaflet/releases

So I get this:

[code]

Can you please tag it?

[2014-04-25 16:48] #53 closed, assigned to nobody

[2014-05-13 10:58] miguelcobain opened #55 "Delay tolerant computed optionProperty"
Like stated on #38, something similar is needed for option properties.

How hard could this be?

[2014-06-17 16:43] #55 closed, assigned to nobody

[2014-06-17 16:44] gabesmed opened #58 "When you change icon in leaflet, you lose the draggability"
via @miguelcobain:

Actually, there is a problem with icon binding (which is pretty useful):

When you change icon in leaflet, you lose the draggability. So you need to restore it.

I use this code:

[code]

I don't have much time right now, but it would be nice to have failing tests for this.

[2014-06-17 17:10] edance opened #59 "Question: Collection of polygons"
I am new to leaflet and was wondering what would be the best way to draw a collection of polygons?

I saw in the source code that MarkerCollectionLayer just extends EmberLeaflet.CollectionLayer. Should I create a PolygonLayer and PolygonCollectionLayer that are very similar to the MarkerLayer and MarkerCollectionLayer? Is polygon even the best way to draw the region on the map, should I be using P

[2014-06-19 02:47] #30 closed, assigned to nobody

[2014-06-19 03:16] #59 closed, assigned to nobody

[2014-07-08 13:26] akhomchenko opened #63 "CollectionLayer, PopupMixin and popupViewClass"
Good day.

Sorry for my bad English.

Thank you for your great library.

Let me show the code:

[code]

The problem is that I can not access current item to use it in `popupViewClass`.

`popupView` is created via:

[code]

and `controller` is an `ArrayController`, not item controller.

I've solved this issue by updating `popupView` creation:

[code]

and changing my `CollectionLayer` to:

[code]

[2014-07-08 16:08] #63 closed, assigned to nobody

[2014-07-14 10:39] dimapaloskin opened #64 "Popup will be without text if popupContent is empty."
Hi.

I use popupContentBinding in popupMixin, but in the case of if popupContent is empty
popup will be opened without text. I think it is necessary to add check in popuMixin's click event.

https://github.com/gabesmed/ember-leaflet/blob/master/packages/ember-leaflet/lib/mixin/popup.js#L15

[2014-08-18 19:56] drwlrsn opened #65 "Custom controls in Map view"
I am not entirely sure how to ask this, but here goes:
I have a Map view with a bunch layers and markers and this works great. On top of the map and in the Handlebars template for the view, I have some select views and checkboxes, etc. to manage what markers and layers are shown on the map. The selects work fine in the browser, but don't work in iOS which I think is related to https://github.com/L

[2014-08-28 22:12] #65 closed, assigned to nobody

[2014-09-02 19:46] karlguillotte opened #66 "Componentizing the integration"
Hi,

First, thanks for creating this Ember & Leaflet integration. It is been really useful.

I was wondering if you have plan to _componentize_ this integration. Something similar as http://googlewebcomponents.github.io/google-map/components/google-map/. If doable.

Thanks

[2014-09-02 20:29] samselikoff opened #68 "globals/ember-cli"
Hi @gabesmed - thanks for your work on this!

Any plans on making this es6 modules for easier use within ember-cli? Any way I can help with that?

[2014-09-04 18:55] samselikoff opened #69 "class reference"
The link to the class reference (http://gabesmed.github.io/docs/index.html) is broken. Are these docs somewhere else?

[2014-09-12 16:24] muziejus opened #72 "Showing a collection in a single ember-data object"
Hey, I've had a lot of fun trying to get `ember-leaflet` to work in this project I'm working on, but now I'm getting profoundly stumped and actively frustrated.

So it seems to be the case that a `MarkerCollectionLayer` requires an `ArrayController`, whereas a `MarkerLayer` works with an `ObjectController`. So I can have one map with a marker collection layer, attached to `addresses.index` that sh

[2014-09-14 18:27] #72 closed, assigned to nobody

[2014-09-27 09:49] muziejus opened #74 "How do you use bounds / CollectionBoundsMixin?"
My goal is to have all of the markers that appear frame the bounds of the map. I did this pretty easily on the Rails side via the `leaflet-rails` gem while calculating the bounds on the fly, but doing something similar, with a computed property `bounds`, like this:

[code]

tells me that `fitBounds` is undefined. (or, at least, that's what's underlined in the Inspector)

I see that there's a `Coll

[2014-10-08 10:58] miguelcobain opened #75 "Manage Tile Layers"
Is it possible to bind `MapView` child layers to a controller?

I'm trying to change TileLayers based on a controller's array.

This is probably related with #35, but I'm trying to have the MapView bound to an array on the controller instead of having to call pushObject on the MapView.

[2014-10-10 08:04] #75 closed, assigned to nobody

[2014-10-15 02:40] edance opened #76 "PopupViewClass breaks in Ember 1.8 beta"
Ember 1.8-beta removes `_insertElementLater`.

It looks like all of the `_insertElementLater` block could be replaced with `this._popupView.constructor.renderer.appendTo(this._popupView, this._popup._contentNode);`

I tried to make a pull request but I couldn't figure out how to update to Ember 1.8-beta to run the tests.

[2014-10-18 23:32] drwlrsn opened #77 "Popup state"
I was wondering if anyone had any ideas on how to reflect the popup state in the URL.
For example, if I had a map with a bunch of POIs and a user clicked the marker for a particular market, it would be great if the URL would change something like `/supermarkets/3424` or `/supermarket/<some controller property>`.

I have been digging around descending `SomeCollectionLayer._childLayers[n]._childLaye

[2014-11-06 08:25] semperfried76 opened #78 "How can I make this work with ember-rails?"
I require ember, then leaflet and ember-leaflet in my application.js, and my ember-leaflet.js file lives in the root of my javascripts directory, along with my ember app.

I keep getting error messages that EmberLeaflet.MapView is undefined, using the demo one-line map code provided.

[2014-11-22 17:33] pedrokost opened #80 "icon binding howto"
Hi,

I can't find documentation or examples on how to bind icons (reading through the issues shows that it should be possible now).

I have an Ember Leaflet map with markers of places (EmberLeaflet.MapView.extend), and next to it a list of places (Ember.Component.extend). What I want to accomplish is that when I click on a a place in the list, the corresponding marker changes icon/size/color.

The

[2014-11-25 06:42] yildirim opened #81 "getting a pixel,"
Hi,

I need to get  the color of a specified pixel on the map. I think that if I get canvas element, I can use html canvas methods to get the pixels' color. Here is a code snipped from my ember apps:

Simulation.MapLayer = EmberLeaflet.Layer.extend({
    _newLayer: function() {
     return new L.Google('ROADMAP');
});

I am trying to get canvas as follows,
var canvasTiles = Simulation.MapLayer.can

[2014-11-27 08:22] #81 closed, assigned to nobody

[2014-12-12 21:38] zzarcon opened #86 "Get MarkerLayer location on "dragend" event"
Hi guys, I have a `MapView` with a `MarkerCollectionLayer` as `childLayers`, and that `MarkerCollectionLayer` has a `MarkerLayer` that extends the `DraggableMixin`, so I'm trying to get the location of the `MarkerLayer` when it's dragged...

[code]

The problem is that in the dragend handler I'm getting always the same value :(.
What I'm doing wrong?
Thanks!!!

[2015-01-15 16:35] codefox421 commented on #68
@miguelcobain I'm behind you on converting to an ember-cli add-on. I think we should keep everything in one branch of this repo if possible. We should also continue to offer a stand-alone build for those not using ember-cli. Can we keep the same build process we have now while also converting to an add-on?

[2015-01-15 16:38] miguelcobain commented on #68
I'm using a cool build process in https://github.com/miguelcobain/ember-cli-selectize

It is both an ember-cli addon and a standalone release.
Heavily based on the awesome work by @pixelhandler http://pixelhandler.com/posts/develop-embercomponents-for-sharing-as-ember-cli-addons-a-practical-example

[2015-01-16 16:58] codefox421 commented on #68
That pixelhandler article is a good read. It would be great if we could keep some of the release automation features from [ef4/liquid-fire/packaging](../../../ef4/liquid-fire/tree/master/packaging) that [pixelhandler/ember-off-canvas-components](../../../pixelhandler/ember-off-canvas-components) removed, but otherwise their's looks like a good base.

[2015-01-16 17:35] miguelcobain commented on #68
I suggest that, for a start, we should just "bite the bullet" and create a new ember cli addon in a separate repo/branch.
Then we could work on packaging as a standalone library.

[2015-01-16 17:52] pixelhandler commented on #68
@miguelcobain does a repo that only has packaging and release scripts need to be a ember-cli addon? How about just a plain npm package? Seems that the "standalone packaging" scripts are a broccoli build pipeline based on es6 modules, not necessarily and addon for addons.

[2015-01-16 18:15] miguelcobain commented on #68
Ok, so what are we discussing here? Got a bit lost.
Ember-cli addon with "standalone packaging" scripts **vs** ... ?

What I suggested was simply to port this project to an ember-cli addon.
Then we add "standalone packaging" to it.
What do you suggest?

[2015-01-16 18:30] pixelhandler commented on #68
oh, I read "Then we could work on packaging as a standalone library" as make a npm package to add 'standalone packaging' in it's own repo, then any ember-cli addon could install the standalone-packaging npm package to use it. I briefly mentioned this to @ef4 (liquid-fire author) and it seemed like a good idea. no body has done that yet.

[2015-01-16 18:32] miguelcobain commented on #68
That is an excellent idea, indeed!

[2015-01-16 18:45] codefox421 commented on #68
+1 for the packaging library.
Also, @miguelcobain, I'd be okay with starting the add-on conversion in a separate branch. We can always merge it into master once it's stable.

[2015-01-17 01:04] gabesmed commented on #68
Hey all thanks for your thoughts on this! I'd love to get this ember-cli compatible, but don't have a huge amount of time to dedicate to it. Willing to help out with whatever you think is the best approach!!

[2015-01-19 12:22] pedrokost opened #87 "Any plans to port this to an ember-component?"
Currently, using ember leaflet requires extending a view  `EmberLeaflet.MapView`. However, Ember prefers components over views. Are there any plans of porting this to a component?

[2015-01-19 12:24] miguelcobain commented on #87
My idea was to do this along with #68.

[2015-01-19 12:27] pedrokost commented on #87
Good to hear, sorry I missed that issue.

[2015-01-19 12:27] #87 closed

[2015-01-19 17:36] miguelcobain commented on #68
@gabesmed, please create an orphan `ember-cli-es6` branch, so I can PR my branch there: https://github.com/miguelcobain/ember-leaflet/tree/ember-cli-es6

Just to let people know of my progress and potentially to get some help.

[2015-01-19 17:39] miguelcobain commented on #68
Also, just to keep this noted. I found this addon: https://github.com/csantero/ember-cli-ember-leaflet

It is basically a wrapper around the current ember-leaflet.
However, a complete rewrite conforming ember-cli and ES6 modules, tests, etc would be much better and future proof, I think.

[2015-01-19 18:33] codefox421 commented on #68
The branch has been created.

I agree that a rewrite would be better than a wrapper. It's rather unfortunate they've already taken "ember-cli-ember-leaflet" on NPM, but I guess we can use "ember-leaflet" tagged with "ember-cli" or something like that.

Pulling in some info from #87: moving to components is a good idea, and I like that you were already taking this into consideration. Another option

[2015-01-19 18:39] miguelcobain commented on #68
PR at #88

`ember-cli-ember-leaflet` it's not a good name anyway. :stuck_out_tongue_closed_eyes:

My idea was to let this ember-cli-es6 branch make its way to master, someday.
I think it's doable without breaking anything, especially once we have the "standalone packaging" thing worked out.

[2015-01-21 06:43] gabesmed commented on #68
sooooo cool :D hooray for ES6!!

[2015-01-21 07:30] gabesmed commented on #68
i'm fine with redoing the whole thing in ES6 BTW! awesome work getting this started!

@codefox421 I'm still not sold on having everything be a mixin, but I'm also a huge believer in the people doing the work having the ultimate decision. if you guys are leading a port to ES6 (which I wholeheartedly support but sadly do not have time to lead) I trust you to make the call.

the main reason I had for

[2015-01-21 07:31] #69 closed

[2015-01-21 07:31] #78 closed

[2015-01-21 09:10] miguelcobain commented on #68
I think it was the genius principle of the project. :+1:

[2015-01-22 10:48] pedrokost commented on #76
@edance, could you provide an example of how you worked around the issue?

[2015-01-24 08:34] edance commented on #76
Sorry @pedrokost for the delay. Here is what I do. I render it offscreen to the body. Then after rendering I grab the html. Probably not the cleanest solution but it worked.

[code]

[2015-01-26 10:35] pedrokost commented on #76
I was able to get it working by overriding `_createPopupContent`:

[code]

One issue with this code it that clicking multiple times on the marker, each time appended a *new* view to the popup, keeping the previous one. Therefore, I clear the previous content with `this._popup._contentNode.innerHTML = '';`. What is a better way to fix this?

[2015-01-30 22:48] brili opened #90 "Add/Remove MarkerCollectionLayer"
If there are multiple MarkerCollectionLayers how can we remove and add based on some event like click. I have MarkerCollectionLayers for different categories binded to their contents. How can we add/ remove these layers from the map or at least hide/show

[2015-02-09 11:34] Rahien opened #91 "Class reference broken"
Hi,

Very nice library and examples page! However, it seems the class reference is broken, I get 404's for the libraries, e.g. http://gabesmed.github.io/ember-leaflet/docs/assets/js/api-filter.js and I don't get any content when I click on any of the classes...

Could you have a look?

Thanks!

[2015-02-10 21:11] miguelcobain opened #92 "childViews array"
I was checking Ember 1.10 release post, and stumbled upon an interesting deprecation: http://emberjs.com/blog/2015/02/07/ember-1-10-0-released.html#toc_notable-deprecations

Of course this doesn't affect this project because we're not using Ember Views.
However, since they were one of the motivations, we should stick with their best practices as much as possible. Also, it would be easier for Ember

[2015-02-11 11:49] gagoman commented on #90
Hello. I've faced similar issue. And here's an example:

    zoomend: function () {
        var zoom = this.get('_layer._zoom'),
            childLayers = this.get('childLayers');

        childLayers.forEach(function (layer) {
            if (layer.get('hideAtRange') !== undefined) {
                if (layer.needToHide(zoom)) {
                  layer.hide();
                } else {

[2015-02-12 20:10] gabesmed commented on #91
Hm, not really sure about what you mean here. That I think is utility library for the jsdoc?
These links seem to work:

http://gabesmed.github.io/ember-leaflet/docs/
http://gabesmed.github.io/ember-leaflet/docs/classes/EmberLeaflet.LayerMixin.html

[2015-02-12 20:10] #91 closed

[2015-02-12 20:13] gabesmed opened #93 "Leadership & direction for EmberLeaflet"
Hey all! So in an exciting new development, @twokul, an accomplished Ember and Ember-CLI developer, has offered to pitch in with leadership & maintenance for EmberLeaflet! I've added him as an admin, along with @miguelcobain in a long-deserved promotion! :) Thank you all so much for seizing the reins as I've had less time to commit to the library. I very much want to help out and continue to be in

[2015-02-12 21:02] miguelcobain commented on #93
My pleasure. :)
I remember starting this idea a long time ago. Then you arranged this all in a brilliant composable approach. Thank you. I learned a lot from this project.

I'll be using this library extensively in a near future, so I may be contributing more often soon.

Thanks. Let's make this happen. Ember-cli is at sight. :)

[2015-02-12 22:03] twokul commented on #93
@gabesmed @miguelcobain me is excite! maybe we should do a quick google hangout to chat about the direction?

[2015-02-12 22:39] gabesmed commented on #93
Awesome, sounds good to me! Would maybe tues 2/17 work? I could do early (9am) tomorrow the 13th too if that's better for all.

[2015-02-12 23:55] miguelcobain commented on #93
I'm available since 10 am GMT, week days (please). :D

[2015-02-13 19:57] twokul commented on #93
@miguelcobain @gabesmed can you guys send me your email addresses (alex.navasardyan@gmail.com), I'll schedule a hangout.

[2015-02-14 01:45] codefox421 commented on #92
Is this in regards to the `childLayers` property that consumers set on their `MapView`? Let's take one of the simpler examples from the gh-pages:

[code]

How would this be written when using your Ember-CLI port?

[2015-02-15 11:55] miguelcobain commented on #92
I think we're talking about two different things here.
The `childLayers` deprecation has nothing to do with ember-cli port.

Basically this:
[code]

turns into this:
[code]

Regarding your question about an ember-cli version of your code, you could do it like this (still without the deprecation):

[code]

[code]

[code]

Another option would be to override the component.

[2015-02-16 23:54] gabesmed commented on #93
I'm in for 9am tomorrow (tues)!

[2015-02-17 15:50] twokul commented on #93
@gabesmed invitation sent. did you see it?

[2015-02-17 16:47] miguelcobain commented on #93
I did!

[2015-02-17 17:08] gabesmed commented on #93
yep! i'm in the link?

[2015-02-17 17:19] gabesmed commented on #93
we had some trouble with hangouts, skype us? gabe.smedresman

[2015-02-22 00:34] brili opened #94 "MarkerCluster Events"
How can we listen to MarkerCluster animationend event or at least. The concrete reason I need it is because I need to open a popup on hover of a div and it displays an error because the zooming and panning happens faster than  MarkerCluster can open  the markers for display

[2015-02-22 12:18] pedrokost opened #95 "panning howto"
Not an issue, more a request for help.

With leaflet it is possible to pan the map by a specific amount of pixels like this:
[code]

What I want to achieve is to zoom and pan to a marker locations, but also offset the final location by 200pixels. The panning and zooming is done auto-magically by binding to the controllers' `zoom` and `center` properties.

How would I achieve the panning? I tried t

[2015-02-24 23:02] #93 closed

[2015-02-25 00:31] gabesmed commented on #93
:+1:

[2015-03-04 21:08] Chinow opened #97 "Manipulating the Map from the page controller"
Hi guys,

I used your awesome addon to do add a Map into an EmberApp
=> https://github.com/wwoof/webapp
=> https://app.wwoof.fr/hosts

I ran into a couple issues so I wanted to share them with you.
I wanted to use the Leaflet API to manage my map from the controller. However I was  not able to access the map from the controller. Therefore I had to override an init method in the   EmberLeaflet.MapV

[2015-03-19 12:31] lucacorti commented on #68
Hello,

What is the status of the ember-cli/es6 port wrt master?

This would simplify working and hacking on EmberLeaflet a lot. Any plans to switch the official release to this branch?

thanks

[2015-03-19 12:35] gabesmed commented on #68
@lucacorti @miguelcobain is finishing up the https://github.com/gabesmed/ember-leaflet/tree/ember-cli-es6 branch....i'll check in on it!

[2015-03-19 12:36] lucacorti commented on #68
Great, thanks a lot, awesome work guys.

[2015-03-19 14:42] lucacorti commented on #68
I'm trying this out, using the default `{{ember-leaflet}}` component in the templates works just fine, but if I try and extend the EmberLeaflet component like this:

[code]

At runtime I get:

```Uncaught Error: Could not find module `ember-leaflet/components/ember-leaflet` imported from `my-app/components/ember-leaflet`loader.js:110```

Is this expected?

[2015-03-19 14:45] miguelcobain commented on #68
It should definitely work.
How did you install the addon in your app?

[2015-03-19 14:50] lucacorti commented on #68
Added this to package.json

```    "ember-leaflet": "git://github.com/lucacorti/ember-leaflet.git#ember-cli-es6"```

And then run:

[code]

[2015-03-19 14:51] miguelcobain commented on #68
Ember-cli version?

That should work.

[2015-03-19 14:53] lucacorti commented on #68
0.2.0, should I perhaps try
`ember install:addon git://github.com/lucacorti/ember-leaflet.git#ember-cli-es6`
?

[2015-03-19 14:56] miguelcobain commented on #68
That should be equivalent.

Although exciting, this branch is a WIP and untested, so bear with us, please.

[2015-03-19 14:57] lucacorti commented on #68
Sure, I'll let you know if I find out more about this issue.

[2015-03-19 15:08] lucacorti commented on #68
I can reproduce this on a new app using ember-cli 0.2.0:
[code]

[2015-03-21 17:34] gabesmed opened #101 "Finalizing es6 modules migration"

[2015-03-21 17:42] gabesmed commented on #101
Hey @miguelcobain just wanted to check in with you finishing the migration! Excited that seems like we're almost there. todo: updating docs/examples/class reference, testing in a production system. i'll take a look at the examples branch

[2015-03-22 17:05] gabesmed commented on #101
@twokul do you know how we could use Ember CLI to generate a standalone (legacy) version of EmberLeaflet, where things are still accessible via a browser global?

[2015-03-22 17:06] gabesmed commented on #101
@twokul also any thoughts in general about how we stand for the migration? anything left to do?

[2015-03-23 19:32] twokul commented on #101
now that I think about it, maybe we should create an `ember-cli-leaflet` addon and call existing repo obsolete and not maintain it anymore saying that `ember-cli-leaflet` is a way to go and people should be upgrading their apps to Ember CLI apps.

[2015-03-23 19:32] twokul commented on #101
we can also create `gh-pages` branch their and deploy documentation through github.

[2015-03-23 19:32] twokul commented on #101
@gabesmed @miguelcobain ^^

[2015-03-23 19:33] miguelcobain commented on #101
ember-cli-leaflet name taken: https://www.npmjs.com/package/ember-cli-leaflet

[2015-03-23 19:42] twokul commented on #101
@miguelcobain even better, we can keep the name the same for both projects

[2015-03-23 19:43] csantero commented on #101
If you guys want to use `ember-cli-leaflet` as the npm package  for the ES6 module port I'm happy to transfer ownership.

[2015-03-23 19:44] miguelcobain commented on #101
@twokul, why not keep the current globals version in a `globals` branch?

Then we add a readme notice on how to get it.

[2015-03-23 19:50] twokul commented on #101
@miguelcobain having two branches with two completely different structures and dependencies is a bit of a hassle. having two repos seems like a better approach IMO. @gabesmed thoughts?

[2015-03-23 19:51] twokul commented on #101
@csantero that would be lovely, Sir.

[2015-03-23 19:54] miguelcobain commented on #101
@twokul Right. So what about we have a new `ember-leaflet-globals` instead, and have the `ember-leaflet` repo with the es6 port?
I guess this doesn't really matter as long as we have `ember-leaflet` on npm.

[2015-03-23 20:00] srt32 opened #102 "CollectionLayer / PolygonLayer - location binding works with array but not object"
I have a map:

[code]

that defines `PolygonCollectionLayer` as:

[code]

and defines `PolygonLayer` as:

[code]

where the `content` is bound to a controller defined as:

[code]

This setup works but I'd like to pass along `title` attributes to be used on the popups. However, when I change `PolygonLayer` to use ` locations: Ember.computed.alias("content.locations"),` and change the `controller.fo

[2015-03-23 20:02] csantero commented on #101
@twokul @miguelcobain I made you owners on npm for ember-cli-leaflet. @gabesmed  I didn't see an npm user named gabesmed, so if you have a different username let me know and I'll add you.

Of course if you go with a different package name, that's cool too. =)

[2015-03-23 21:33] srt32 commented on #102
I got it working by doing the following:

[code]

`locationsProperty` was the key.

[2015-03-23 21:33] #102 closed

[2015-03-24 00:04] srt32 commented on #76
Has anyone come up with a more up to date solution than the ones posed above?

[2015-03-24 00:10] miguelcobain commented on #76
Meanwhile, you can check this: https://github.com/gabesmed/ember-leaflet/blob/ember-cli-es6/app%2Fmixins%2Fpopup.js#L57-L87

[2015-03-24 00:37] srt32 commented on #76
Thanks @miguelcobain! Could you elaborate on https://github.com/gabesmed/ember-leaflet/blob/ember-cli-es6/app%2Fmixins%2Fpopup.js#L74-L77

    // the view as an Ember View because the popup's parent map's parent view
    // is an Ember View. So we need to trick it by calling the renderer's
    // replace function.

[2015-03-24 09:37] miguelcobain commented on #76
Well, @gabesmed is the author of that part.
But it obviously is a sensible part since we're using internals (private API).

Tell us if you have an alternative.

[2015-03-24 12:17] twokul commented on #101
@miguelcobain that's what I'm proposing. Let's use `ember-cli-leaflet` provided by @csantero (thanks!)

[2015-03-24 13:31] odix67 opened #104 "MultiPolyline derived plugin"
Hi,

is there a possibility to use a MultiPolyLine derived plugin, like Leaflet.Geodesic with EmberLeaflet ?

BR odi

[2015-03-24 14:37] miguelcobain commented on #104
Currently not easy.
If we had a MultiPolyline implementation, you would only need to extend it and override `newLayer` to create `L.geodesic` layer.
You best bet currently is to subclass `EmberLeaflet.Layer`, implement `newLayer` and create it yourself.

[2015-03-24 14:39] odix67 commented on #104
ok, thanks for the tip

[2015-03-24 14:39] #104 closed

[2015-03-25 22:18] codefox421 commented on #77
What if popups were componentized as compositional components:

[code]

Or something like that. (Forgive me, I didn't think very long about the entire component hierarchy.) So to reflect popup content in the URL you would do:

[code]

And let Ember's router take care of the rest by using nested routes.

[2015-03-25 22:33] gabesmed commented on #101
whoa this went far fast....i'm not sure how i feel about having two repos with one getting swiftly out of date. happy to move repos if it helps anything but don't really see the need or improvement it brings? Couldn't we just add a build instruction to the ember cli build kit to generate a version of the EmberLeaflet  js that uses a browser global?

[2015-03-25 22:33] gabesmed commented on #101
(sorry out of the country so a bit slow on responses)

[2015-03-25 22:39] gabesmed commented on #76
@srt32 yeah I wrote that and it appears to work with modern embers? not sure what your question is

[2015-03-25 22:40] gabesmed commented on #76
this is part of the es6 migration which we'll hopefully finish real soon

[2015-03-25 22:42] twokul commented on #101
@gabesmed Ember.js ecosystem is going away from globals and it makes sense for us to follow IMO

[2015-03-25 22:45] gabesmed commented on #101
@twokul totally understood...huh so you recommend going cold turkey off it? if that's the case, we can maybe just keep this repo and have a legacy link for an old build of the globals version. don't see any need to keep it around. but *would* be useful to have something for JSfiddle

[2015-03-25 22:51] srt32 commented on #76
@gabesmed thanks for the response. I misread the code. Makes sense!

[2015-03-25 23:59] miguelcobain commented on #101
My opinion is that the current master should live somewhere, either as a another branch or as another repo.

[2015-03-26 00:02] miguelcobain commented on #77
Related: https://github.com/gabesmed/ember-leaflet/pull/98#issuecomment-78551161

@codefox421 something like that is planned for future versions.

[2015-03-26 01:39] gabesmed commented on #101
i don't have a strong opinion here though; whatever's best for the library in the new world of ember-cli is gonna be the best choice. @miguelcobain if you agree with @twokul then that is most likely the way to go. the only reason i see for switching repos to ember-cli-leaflet tho is if the naming convention of starting with ember-cli is important? otherwise i'd see just keeping current repo, and m

[2015-03-26 01:51] codefox421 commented on #77
Yep, I remember that. Basically, it solves this case with very little "heavy lifting" on EmberLeaflet's side. Plus it looks a lot cleaner and is generally more flexible than something like `{{popup-marker-layer popupContent=someComputedProp}}`.

This is just a thing to keep in mind when implementing those components.

[2015-03-29 18:43] mylen opened #105 "jsfiddle exemple broken"
http://jsfiddle.net/3bUv8/

can't get a jsfiddle to display a map, am doing something wrong?

[2015-03-30 18:13] srt32 commented on #105
Seems like `Ember` is not getting loaded as a dependency. When I opened the console I saw, `Uncaught ReferenceError: Ember is not defined` and then when I followed the link (http://builds.emberjs.com/ember-latest.js) for the `ember-latest` dependency you had, the link was a 404. Could you try updating your Ember dependency?

[2015-04-06 15:02] gabesmed commented on #101
ping! @twokul @miguelcobain any thoughts?

[2015-04-06 15:10] miguelcobain commented on #101
Like I said before, I think `ember-leaflet` is a good and clean name.
My opinion is to have an ember-cli addon in the master branch an the current globals version in an archive branch.
We could also come up with a way to package the es6 version as globals too, separately. But in my opinion, that is not a priority.

[2015-04-06 15:13] gabesmed commented on #105
Thanks for the note @mylen! Updated the JSfiddle, it should work now: http://jsfiddle.net/y524t8f8/

[2015-04-06 15:13] #105 closed

[2015-04-06 16:00] gabesmed commented on #101
ok...then i'm ready to switch and we can handle the documentation switch later. has anyone confirmed that the es6 version *works* in an actual app?

[2015-04-06 16:17] miguelcobain commented on #101
Will do that ASAP.

[2015-04-08 15:33] AW-UC commented on #97
Maybe a more specific example of the intended implementation would be helpful. IMHO you shouldn't access the map from the controller but bind it to controller values. Why not have a map component that has values and/or actions bound to correspondening controller values/actions? This package is currently being refactored into a component (provided as ember-cli-addon).

[2015-04-16 13:17] AW-UC commented on #101
Some quick feedback with Ember-CLI 0.2.3:
After installing the addon the component gets registered. However, calling `{{ember-leaflet}}` in a template does not properly render the map, because it has no height If I e.g. add the style `height: 1000px` to the `leaflet-container` it is rendered, but only the first row of map tiles get loaded.

[2015-04-18 11:58] lilfaf commented on #68
+1 I encounter the problem as @lucacorti. I tried install on ember-cli 0.2.1and 0.2.3 and never managed to get it working when extending `EmberLeafletComponents`.

[2015-04-20 17:59] AW-UC commented on #68
I created a PR to fix the issue with extending the component: https://github.com/gabesmed/ember-leaflet/pull/107

[2015-04-21 14:54] miguelcobain commented on #68
@lucacorti and @lilfaf, it should be possible now.

[2015-04-21 14:56] miguelcobain commented on #101
@AW-UC That `height: 1000px` on the container is expected. Leaflet behaves that way as well.

[2015-04-21 15:00] AW-UC commented on #101
@OK. Maybe include the advise in the README to add corresponding styles for `leaflet-container`?

[2015-04-21 15:04] miguelcobain commented on #101
I think we should include any styles for leaflet-container. People should style it according to their needs. There's nothing sensible we could include upfront, I think.

An entry in the README seems fine.

[2015-04-21 15:08] miguelcobain commented on #68
@pixelhandler and @codefox421 looks like that addon we mentioned in this issue (https://github.com/gabesmed/ember-leaflet/issues/68#issuecomment-70298803) has been indeed created by @ef4!

**Ember-giftwrap:** https://github.com/ef4/ember-giftwrap

Anyone is welcome to integrate it with ember-leaflet. :)

[2015-04-21 15:08] miguelcobain opened #108 "Use ember-giftwrap"
Provide a globals version with https://github.com/ef4/ember-giftwrap

[2015-04-21 15:48] gabesmed commented on #108
haha awesome

[2015-04-22 16:24] miguelcobain commented on #101
@gabesmed I think now we're done with the migration.

Proposed plan:
- migrate globals version to a globals branch
- move ember-cli-es6 branch to master
- move new class reference to `/docs` on gh-pages branch
- publish on npm
  - current version is `0.6.1`. Following semver, we should increment major and publish version `1.0.0`.

I can get this done. :)

[2015-04-22 16:59] gabesmed commented on #101
\o/

[2015-04-22 17:01] gabesmed commented on #101
:ship: !!

[2015-04-22 17:06] gabesmed commented on #101
please do the honors @miguelcobain. I'm also very much in favor of doing the global version using Ember Giftwrap -- that should help us with the example page and JSfiddle examples with the new version.

[2015-04-22 17:38] gabesmed commented on #101
but we can do that after

[2015-04-27 11:22] kunerd commented on #101
:+1:

[2015-04-27 11:24] miguelcobain commented on #101
Recruiting people for input on #111.

[2015-05-12 04:13] snwfog opened #112 "What is the point of using IIFE"
Hi,

Can someone explain to me what is the point of using IIFE if the variable is not declared inside.
https://github.com/gabesmed/ember-leaflet/blob/master/dist/ember-leaflet.js#L6?

Thanks

[2015-05-15 13:16] saerdnaer commented on #68
When I try to install to use this branch with ember-cli 0.24 I get following error message:
[code]

[2015-05-15 14:08] miguelcobain commented on #68
@saerdnaer please try this method meanwhile: https://github.com/gabesmed/ember-leaflet/pull/111#issuecomment-102327290

[2015-05-15 15:03] saerdnaer commented on #68
@miguelcobain This worked after adding ```*.tiles.mapbox.com``` in ENV.contentSecurityPolicy.img-src  in config/environment.js, adding ```{{leaflet-map}}``` to app/templates/application.hbs and setting an height > 0 for this element with the chrome inspector manually. Im still searching for an way to persist this height setting.

[2015-05-15 15:11] AW-UC commented on #68
@saerdnaer just add this to your app's css if you want a height of e.g. 400px:
[code]

[2015-05-15 15:46] saerdnaer commented on #68
@AW-UC Thanks, that worked. I had only to replace ```map-container``` with ```leaflet-container```.

[2015-05-15 16:46] miguelcobain commented on #68
We'll need an entry about this in the README. People get bumped into that a lot.

[2015-05-15 17:29] AW-UC commented on #68
@saerdnaer yes, I'm sorry. Using `map-container` of course requires, that you wrap the component in

    <div class="map-container">
    </div>
IMHO, you should do that, so that you don't set the width of `leaflet-container` globally to a specific value. For example, you can set:
[code]
Then you wrap your different maps accordingly. This is very reusable and also works well in responsive layouts.

[2015-05-18 13:57] saerdnaer commented on #68
If someone wants to try out having a leaflet google maps layer have a look at this commit: https://github.com/saerdnaer/ember-cli_leaflet_example/commit/b8452047753ccb574a88014baddc11a8fb076375

[2015-06-15 08:59] Narsul opened #115 "DEPRECATION: Action handlers contained in an `events` object are deprecated in favor of putting them in an `actions` object"
I'm using your `ember-cli-es6` branch and this's what I receive when I create `leaflet-map` component:
[code]
it happens because of using field name `events` as a list of supported events, I can renamed it and it usages to `events_` and this problem disappeared and `leaflet-component` started to work fine.

I can make pull request if you'll tell me how you want to name this field

[2015-06-15 09:05] miguelcobain commented on #115
I think that `leafletEvents` makes sense.
A PR would be great!

[2015-06-15 09:18] Narsul commented on #115
Here it is: #116

[2015-06-15 09:24] #115 closed

[2015-06-18 12:42] mjanda opened #117 "Setting options for MarkerCollectionLayer"
I'm thinking how to set options on markers belonging to collectionlayer.

One way is to set options key on content and change layers/marker.js
[code]
to
[code]

Not sure if that won't break something else, so far I'm just thinking out loud here.

Other way would be to do it in collection.js / objectWasAdded() - do something like
[code]
but that seems hacky.
But doing it this way would easily allow

[2015-06-21 13:43] pedrokost opened #118 "Ember 1.13 compatibility"
Upon upgrading to Ember 1.13, the leaflet code is breaking with the following message:

[code]
which seems to originate from `LayerMixing` ([line 121](https://github.com/gabesmed/ember-leaflet/blob/master/packages/ember-leaflet/lib/layer.js#L121)). `get(this, 'events')` returns `undefined`.

I am using the master branch of ember-leaflet.

[2015-06-21 14:12] miguelcobain commented on #118
Probably related with #116?

The master branch of ember-leaflet isn't maintained in favor of the existing ember-cli version.
Are you looking for a globals version of ember-leaflet?
If so, solving #108 would be the right way to go.

[2015-07-10 08:46] ianpetzer opened #119 "Struggling to install ember-cli version of ember-leaflet"
Hi,

When I run 'ember install ember-leaflet' I get the following error:

    404 Not Found: ember-leaflet
    Error: 404 Not Found: ember-leaflet

Is there anything that I can do to fix this?

[2015-07-10 09:40] miguelcobain commented on #119
To install the ember-cli-es6 branch of this project, please use the following:

[code]

[2015-07-10 09:40] #119 closed

[2015-07-10 12:34] ianpetzer commented on #119
Great.. That worked prefectly.

Thanks so much

[2015-07-12 19:52] tompesman opened #120 "Question: GeojsonLayer binding"
I'm building a GeojsonLayer which should load an url which is stored in a model. I just can't make the GeojsonLayer bind to the model. The `urlDidChange` method is never called and the `content` property is never set. Can you please help me? Thanks!

`app/layers/geojson-layer.js`:
[code]

`app/components/leaflet-map.js`:
[code]

`controller`:
[code]

`model`:
[code]

`template`
[code]

[2015-07-15 15:46] saerdnaer opened #121 "combining ember-leaflet with ember-paper leads to events not propagated"
In my current project I'd like to use a paper-slider inside of a leaflet popup. You can find my current state at http://saerdnaer.github.io/ember-paper-leaflet-example/
The problem is that the slider inside the popup is not usable, as it's not possible to move the dot to the other end of the slider.

It looks like leaflet is catching the mouse/touch move event's and the slider doesn't get notified

[2015-07-15 15:50] miguelcobain commented on #121
Cool customization of leaflet!

I can't open any popup in your example, right now, possibly because the change you made later. Can you change back to original state to check the issue?

[2015-07-15 15:56] mjanda commented on #121
I do something similar and my solution is to add custom handler in didCreateLayer that catches mousedown/dblclick, checks e.target and if it's my overlay, stops propagation.

[2015-07-15 16:05] tompesman commented on #120
Fixed the binding: the layer receives the url and loads the GeoJSON. Awesome! :smiley: Now it looks like the `L.geoJson()` layer is not added to the map.

`app/layers/geojson-layer.js`:
[code]

`app/components/leaflet-map.js`:
[code]

`controller`:
[code]

`model`:
[code]

`template`
[code]

[2015-07-15 16:10] miguelcobain commented on #120
Don't know if it's related but I don't think this is the way you do observers:
[code]

but instead:
[code]

As of: http://emberjs.com/api/classes/Ember.html#method_observer

[2015-07-15 16:51] saerdnaer commented on #121
@miguelcobain I just reverted (force pushed) the gh-pages branch of my example to the commit before. I did't expect that bugfix for mobile-safari would change something on this issue.

[2015-07-15 16:52] saerdnaer commented on #121
@mjanda: Might you post some source code snippet?

[2015-07-15 16:59] mjanda commented on #121
I have canvas chart over my map, so I can just compare tagName - your case might be more complicated.

[code]

[2015-07-15 19:38] tompesman commented on #120
Interesting, the method is actually executed upon change. Probably a 'feature' of Ember :wink:
It also happens in other places: https://github.com/gabesmed/ember-leaflet/blob/ember-cli-es6/addon/layers/marker.js#L45

Is it sufficient to add a method `_newLayer` or are there more dependencies to make this work?

[2015-07-15 20:17] tompesman commented on #120
It's sufficient! Had a bug in my FeatureCollection. Thanks!

[2015-07-15 20:17] #120 closed

[2015-07-16 11:01] miguelcobain commented on #120
Glad you could make it work. :+1:

[2015-07-17 15:25] codefox421 commented on #120
@tompesman I find it interesting that you use the `function() { ... }.property( ... )` syntax, but the `Ember.observer( ... )` syntax. Do you have a particular reason to prefer it over `function() { ... }.observes( ... )`?

Regardless, you should be forewarned that observers are going to be removed from Ember eventually, at least from the public API.

[Wicked Good Ember 2015 - The Observer tip-jar

[2015-07-17 15:30] miguelcobain commented on #120
@codefox421 observers are not going to be removed. Only beforeObservers.
Observers are an important *low level* primitive.

However, normal users writing normal apps are discouraged from using observers because there is almost always a much better way.

[2015-07-22 07:23] tompesman commented on #120
@codefox421 & @miguelcobain  I do not have an opinion at the moment, still learning Ember :wink: Thanks for the tip!

[2015-07-22 22:27] miguelcobain opened #122 "Passing the dependentKeys after the callback function in Ember.observer is deprecated"

[2015-07-22 22:28] miguelcobain opened #123 "Ember.beforeObserver is deprecated"

[2015-07-23 11:50] AW-UC commented on #123
I don't receive these deprecation warnings (#122 neither). When do they occur?

[2015-07-23 14:42] miguelcobain commented on #123
@AW-UC Both deprecations show up in my Ember 1.13.5.

Which version are you running?

[2015-07-23 20:59] AW-UC commented on #123
Ok, then you are apparently using Ember CLI master. I am using the latest release (1.13.1) which is still on Ember 1.13.3. No deprecations there, yet.

[2015-07-23 22:43] miguelcobain commented on #123
You don't need to use ember-cli master to use other versions of ember.

Just change ember version on bower.json.

[2015-07-25 09:46] pedrokost commented on #118
I am rewriting the map to the es6 branch. Closing issue.

[2015-07-25 09:46] #118 closed

[2015-07-31 12:18] mjanda opened #125 "Initializing map with bounds instead of zoom+center?"
Right now, I think the only (sane) way is to override whole _createLayer(). What about moving setView() into separate function so you could override just that.

Can I send PR?

[2015-07-31 12:25] miguelcobain commented on #125
You need to call `fitBounds` instead of `setView`?

Sure, a PR would be great.

[2015-07-31 13:24] #125 closed

[2015-08-15 08:45] gabesmed commented on #101
hey peoples! i'm back! i'm using this for a project again (now on ember-cli :) so i might be more active over the next few months. merged this to master as a start!

[2015-08-15 08:45] #101 closed

[2015-08-22 23:18] bobbysciacchitano commented on #123
I get the deprecation warning running Ember 1.13.8 with the same version of Ember-Cli.

The message is: ```DEPRECATION: Ember.beforeObserver is deprecated and will be removed in the near future. See http://emberjs.com/deprecations/v1.x/#toc_beforeobserver for more details.```

Specifically affects layers/collection.js _contentWillChange.

[2015-08-31 15:28] tostercx commented on #123
Removed in ember 2.

[2015-09-15 11:42] floqqi commented on #123
@gabesmed: Any plans for Ember 2.0? Meanwhile it would be nice if there would be a message that 2.0 is currently not supported.

[2015-09-16 07:57] jewe opened #128 "Determining the parent of a clustered marker"
Is it currently possible to determine the parent of a clustered marker? This would be useful to e.g open the cluster for a selected marker.

There is this function - but i don't know how to access the marker object inside MarkerCollectionLayer (contentBinding):
[code]

[2015-09-17 14:19] jaredcnance opened #130 "Question: Adding a toolbar"
How would you go about adding leaflet-toolbar functionality?
I can get the L.Toolbar.Control object, but I'm not really sure how to implement it and can't find any documentation on the subject.

Typically, I would do something like this:
[code]
But how do I get that functionality here?
[code]

[2015-09-17 19:03] jaredcnance commented on #130
I discovered that this will work:
[code]
 however we run into an issue with leaflet-toolbar adding anchor elements to the toolbar that link to `#` causing the route to change. As a workaround I have overwritten the `L.ToolbarAction` method `_createIcon` with the following:

[code]

Although, when a rectangle is drawn for example, it doesn't remain on the map.

[2015-09-20 13:45] pedrokost commented on #123
+1

[2015-09-22 09:02] jewe commented on #128
I found a quite hacky solution by myself:

I use a lookup table in the controller to find the marker object by my internal id:
[code]
Now i can open ever clustered marker:
[code]

[2015-10-05 13:43] #130 closed

[2015-10-14 19:12] gabesmed commented on #123
taking a first pass at fixing this in https://github.com/gabesmed/ember-leaflet/pull/134 -- could use some help testing in practice as i'm worried about breaking peoples' implementations

[2015-10-14 21:47] gabesmed commented on #123
please test me!!

[2015-10-14 21:47] #123 closed

[2015-10-15 08:47] ianpetzer commented on #123
@gabesmed Awesome work! Thanks.

I can confirm that this is working for me on Ember 1.13.9 ... Ie: All of my ember-leaflet maps are working as expected and the .beforeObserver deprecation warnings are gone.

[2015-10-15 17:42] mlennie opened #137 "Uncaught Error: Could not find module `ember-leaflet/components/leaflet-map`"
full error: Uncaught Error: Could not find module `ember-leaflet/components/leaflet-map` imported from `business/components/leaflet-map`

I'm using `ember 2.1.0`. Thanks

[2015-10-15 19:46] pedrokost commented on #123
@gabesmed It is working fine for me as well on Ember 1.13.10. Thank you!

[2015-10-16 09:36] floqqi opened #138 "Upload package to npm"
It would be great if the module could be uploaded to [npm](https://www.npmjs.com/), so we don't need to use git for installation.

[2015-10-16 09:49] floqqi commented on #123
@gabesmed Works for me using Ember 2.1. Thanks!

[2015-10-16 17:36] gabesmed commented on #138
done!

[2015-10-16 17:36] #138 closed

[2015-10-25 17:26] #68 closed

[2015-10-26 02:28] canufeel commented on #137
This seems to go away after you reboot your dev server.

[2015-10-26 12:53] lminko commented on #47
+1 for LayerControls.

[2015-10-26 12:53] lminko commented on #47
+1 for LayersControl.

[2015-11-04 05:50] jamesdixon opened #139 "updated examples"
@miguelcobain I saw in another thread that you were looking for feedback on a new set of examples that were updated for the latest ES6 branch. Was curious if these were completed? I'm struggling a bit to get off the ground with the library.

Thanks!

[2015-11-07 22:49] jamesdixon opened #140 "refreshing map data"
Hi, I'm using ember-leaflet to display a map for an appointment's location. The user selects an appointment from a list and the corresponding appointment details (including the map) are then displayed.

When an appointment is selected, the details are passed to the component, which contains the map. Unfortunately, after the user selects an appointment and then another is selected, the coordinates

[2015-11-10 18:44] jamesdixon commented on #120
@tompesman did your last code post change at all from what you had posted? I'm simply trying to get the data to refresh when I send in new coordinates and cannot get it to work for the life of me.

[2015-11-10 19:08] jamesdixon commented on #140
I've refactored my code based on some of the other threads as such:

[code]

Unfortunately, I'm still not having any luck. All I mentioned above, I'm simply trying to change the marker on the map when new data is passed in, but it's been seemingly difficult to get working. I'm sure it's something trivial, but am really pulling my hair out at this point!

@gabesmed @miguelcobain would you be able t

[2015-11-10 19:43] miguelcobain commented on #140
@jamesdixon As a hint, remember that each child layer has `controller` set to the components instance.

Try to:
- Extend the layers separately (you can even put them in separate files afterwards) and then in the `EmberLeafletComponent` use just `childLayers: [MapBoxTileLayer, AppointmentMarkerLayer]`.

This will lead to a more maintainable and readable code.

- More importantly, remember that each

[2015-11-10 19:53] jamesdixon commented on #140
@miguelcobain I appreciate the advice. Going to take a break from this for a bit and will give it a shot. Thank you for your response!

[2015-11-11 09:49] tompesman commented on #120
@jamesdixon Something like this:

[code]

[code]

[code]

[2015-11-17 17:29] miguelcobain opened #141 "Ember-leaflet 2.0"
Ember-leaflet 2.0 was released.
- http://www.ember-leaflet.com
- https://github.com/miguelcobain/ember-leaflet

Will update npm soon.

Should this repo's README point there somehow?

[2015-11-18 03:36] gabesmed commented on #141
HOTTTT

[2015-11-19 06:50] jamesdixon commented on #141
Damn, well done gents!

[2015-11-19 21:32] gabesmed commented on #141
updated

[2015-11-19 21:32] #141 closed

[2015-12-14 13:48] localyost commented on #140
awesome thank you for the response and thanks to @jamesdixon for the question! I externalized all `childLayers` into app/layers/ and was able to bind `location` to the coords passed through the component interface! This changes everything for me! Thanks again guys!

[2015-12-14 14:05] miguelcobain commented on #140
@localyost consider using ember-leaflet 2.0 - www.ember-leaflet.com

[2015-12-14 15:12] localyost commented on #140
Just stumbled across it after that last post! Great work man, thanks!

[2015-12-14 17:46] plcarmel opened #142 "Popup width is not updated automatically when content changes"
In my app, when the user clicks on a marker, a promise needs to be resolved before the popup content is rendered by Ember.

The problem is that the width seems to be computed only once (at the time the popup opens) and the popup ends-up being not wide enough for the content.

Any idea how to fix this ?

[2015-12-14 17:57] miguelcobain commented on #142
@plcarmel are you using ember-leaflet 2.0 - www.ember-leaflet.com ?

[2015-12-14 18:00] plcarmel commented on #142
Version 2.1.1

[2015-12-14 18:01] miguelcobain commented on #142
@plcarmel Then this is the wrong repo. The repo is pre 2.0.

Could you open an issue there, please?

[2015-12-14 18:02] plcarmel commented on #142
Ok, sorry about that.

[2015-12-14 18:10] #142 closed, assigned to nobody

[2016-03-15 18:42] saerdnaer commented on #121
looks like this issue got resolved with leaflet 1.0.0-beta.2

[2016-03-15 18:42] #121 closed

[2016-08-20 19:57] allthesignals opened #144 "ImageOverlay with dynamic bounds throws error"
Hi folks,
Wondering if I could get some guesses about how to troubleshoot this:
For various reasons, I’m using `{{image-layer}}` with dynamic `bounds` property:

[code]

My `bounds` is a computed property on the controller:

[code]

This throws: `ember.debug.js:10873 Uncaught TypeError: Cannot read property 'meta' of null`

Full stack trace:
ember.debug.js:10873 Uncaught TypeError: Cannot read pro

[2016-08-20 21:29] allthesignals commented on #144
Related: https://github.com/Leaflet/Leaflet/pull/2436.

It may not be really part of Leaflet's API design, although I do see a setBounds() function here: https://github.com/Leaflet/Leaflet/blob/master/src/layer/ImageOverlay.js.

[2016-08-21 11:03] miguelcobain commented on #144
@allthesignals this is a repo for leaflet 1. You probably meant to open this at https://github.com/miguelcobain/ember-leaflet

[2016-08-21 13:24] allthesignals commented on #144
@miguelcobain

Whoops!

[2016-08-21 13:24] #144 closed, assigned to nobody

[2016-09-09 10:23] dougajmcdonald opened #145 "Assigning one icon per marker"
Hi @miguelcobain,

I have a (hopefully) easy question regarding markers and I'm forced to use an older version (0.6) for this project.

I have two markers, which I've bound to the contentBinding in a MarkerCollectionLayer like this:

[code]

I have a maker layer, which implements my drag functionality and at the bottom of that I have an options object to set the marker style:

[code]

I have a nee

[2017-03-09 14:40] jiteshgupta1995 opened #146 "Ember leaflet is not displaying anything, on changing css property it shows but does not work well"
I am using Ember-leaflet for my ember application. I followed every step from installation to usage but somehow it is not showing anything. I inspected the elements and found property overflow:hidden. I changed to overflow:visible then map was showing but on zooming in and out, image expands awkwardly.

I am using in my template.hbs

[code]

and in my template.js

[code]
reference used from http:/

[2017-03-09 15:29] miguelcobain commented on #146
@jiteshgupta1995 you're using the wrong repository. ember-leaflet project has moved to https://github.com/miguelcobain/ember-leaflet

[2017-03-09 15:30] miguelcobain commented on #146
Also, feel free to join us at #e-leaflet channel on ember's slack.

[2017-03-09 17:13] jiteshgupta1995 commented on #146
@miguelcobain thanks for the reply. Will raise this issue on that repository

[2017-03-09 17:13] #146 closed, assigned to nobody

[2021-01-18 17:57] #94 closed

[2021-01-18 17:57] brili commented on #94
!

[2021-01-18 17:57] #90 closed

[2021-01-18 17:58] brili commented on #90
!